/*Try to redo original style sheet to use a grid format*/

/*Import from 4/3/22, will be edited and therefore different that the original file*/

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@600&family=Roboto&display=swap');

/* Reset Style Rules */
HTML, *
{
    padding:0;
    margin:0;
    border:0;
    list-style-type:none;
    text-decoration: none;
}
/* ---General Site Styles--- */
body
{
    background: linear-gradient(#281D54 ,#294294 20%,80%, #281D54);
    color:#D9A925;
    font-family:"Roboto",sans-serif;
    
}
a
{
    color: #fac739;
}
p 
{
    color:#C7C7C7;
    font-family:"Roboto",sans-serif;
    font-size:1.25rem;
    padding-bottom: 0.5rem;
    margin:auto;
    width:100%;
}
/* Class Rules */
.bright
{
    font-family:"Noto Sans Display",sans-serif;
    color:#fac739;
}
.large
{
    font-size:3rem;
}
.medium
{
    font-size:2.1875rem;
}
.buttonlink
{
    /*4.10.22 the font-family rule isn't picking up noto sans display after using a new import rule to include alegreya*/

    font-family:"Noto Sans Display", sans-serif;
    background-color:#294294;
    padding: 10px 0px;
    margin: 2% 0;
    border: 3px solid #fac739;
    color:#fac739;
    text-decoration:none;
    min-width: 100%;
    width:13rem;
    transition:background-color, color;
    transition-duration: 0.5s;
    cursor:pointer;
    display:block;
    text-align:center;
}
.buttonlink:hover
{
    background-color:#fac739;
    color:#294294;
}
.robototext
{
    font-family:"Roboto",sans-serif;
}
.displaytext
{
    font-family:"Noto Sans Display",sans-serif;
}
/* ---Header Styles--- */
#checkbox
{
    display:none;
}
#icon
{
    width:10%;
    height:100%;
    margin:auto;
    cursor:pointer;
    display:flex;
    justify-content: center;
}
#icon img
{
    height:100%;
    object-fit:scale-down;
    
    margin:auto;
}
#checkbox:checked~ul
{
    display:block;
}
.navmenu
{
    width:100%;
    margin:auto;
}
header ul
{
    position: relative;
    z-index:999;
    display:none;
    width:13rem;
    margin:auto;
    
}
header ul li 
{
    list-style-type:none;
    font-family: 'Noto Sans Display', sans-serif;
    padding: 0.5rem;
}
header ul a img
{
    padding: 0rem 0rem;
    height:7rem;
    width:7rem;
}

.homebutton
{
    display:none;
}


/*---Main Styles---*/
/*4.10.22 Start of trying to implement grid layout*/
main
{
    width: 100%;
    /*outline: solid red 1px;*/
}
h1{
    
    margin:auto;
    
    /*outline: solid 1px salmon;*/
}
.container
{
    display:grid;
    grid-template-columns: 5% 5% 10% 10% 10% 10% 10% 10% 10% 10% 5% 5%; 
    grid-template-rows: 10% 1fr 10%;
    margin-bottom: 3rem;
}
.container-projects
{
    display:grid;
    grid-template-columns: 5% 5% 10% 10% 10% 10% 10% 10% 10% 10% 5% 5%; 
    grid-template-rows: 7% 1fr 7% 1fr 7% 1fr 7% 1fr;
}
#project-title
{
    grid-column-start: 3;
    grid-column-end: 11;
    /*outline:solid 1px pink;*/
    grid-row-start: 1;
    text-align:center;
    margin:auto;
}
#project-resource-title
{
    grid-column-start: 3;
    grid-column-end: 11;
    /*outline:solid 1px pink;*/
    grid-row-start: 3;
    text-align:center;
    margin:auto;
}
#project-tag-title
{
    grid-column-start: 3;
    grid-column-end: 11;
    /*outline:solid 1px pink;*/
    grid-row-start: 5;
    text-align:center;
    margin:auto;
}
#project-project-title
{
    grid-column-start: 3;
    grid-column-end: 11;
    /*outline:solid 1px pink;*/
    grid-row-start: 7;
    text-align:center;
    margin:auto;
}
.item
/*Trying to use an empty div as a dummy element to check the grid's functionality*/
{
    
    background-color: pink;
    min-width: 200px;
    max-height: 829px;
    min-height: 200px;
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start:2;
    grid-row-end:3;
    margin-bottom: 3rem;
    margin-top: 0;
}
#project-description
{
    /*background-color: rgb(157, 216, 180);*/
    min-width: 100px;
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start:2;
    grid-row-end: 3;
    text-align: center;
    margin: auto;
    padding:1rem;
    max-width: 100%;
}
#project-resource
{
    /*background-color: rgb(202, 157, 216);*/
    min-width: 100px;
    height :200px;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start:4;
    grid-row-end: 5;
    margin:auto;
    padding:1rem;
}
#project-tag
{
    /*background-color: rgb(207, 216, 157);*/
    min-width: 100px;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start:6;
    grid-row-end: 7;
    max-height: 100px;
    margin:auto;
    max-width: 100%;
    
}
#project-project
{
    /*background-color: rgb(157, 185, 216);*/
    min-width: 100px;
    min-height :50px;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start:8;
    grid-row-end: 9;
    max-width: 100%;
    max-height: 100%;
    margin-bottom:3rem;
}
video,.portfolio-image
{
    width:100% !important;
    height:auto !important;
}
.project-tag-scroll
{
    
    display:flex;
    flex-direction: row;
    overflow-x:scroll;
    max-height: 12rem;
    overflow-y: hidden;
    align-items:center;
    width:inherit;
    
    

}
.project-project-scroll
{
    display:flex;
    flex-direction: row;
    overflow-x:scroll;
    max-height: 24rem;
    overflow-y: hidden;
    align-items:center;
}
.tag-button
{
    font-family:"Noto Sans Display", sans-serif;
    background-color:#294294;
    
    margin: 2rem 0.5rem;
    border: 3px solid #fac739;
    color:#fac739;
    text-decoration:none;
    transition:background-color, color;
    transition-duration: 0.5s;
    cursor:pointer;
    display:block;
    text-align:center;
    width:10rem;
    height:100%;
    text-align: center;
    align-items:center;
}
.tag-button:hover
{
    background-color:#fac739;
    color:#294294;
}
.project-button
{
    
    justify-content:space-between;
    align-items:center;
    border:#fac739 5px solid;
    min-width:13rem;
    min-height:13rem;
    margin: 0.5rem;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
/*project page icons*/
#project-animation-city
{
    background-image:url(../images/buttons/animations_button_project_1.png);
    
}
#project-animation-mouse
{
    background-image:url(../images/buttons/animations_button_project_2.png);
}
#project-animation-hawk
{
    background-image:url(../images/buttons/animations_button_project_3.png);
}
#project-animation-fuego
{
    background-image:url(../images/buttons/Animations_Button_Project_4.png);
}
#project-animation-morning
{
    background-image:url(../images/buttons/Animations_Button_Project_5.png);
}
#project-animation-explosion
{
    background-image:url(../images/buttons/Animations_Button_Project_6.png);
}
#project-animation-creature
{
    background-image:url(../images/buttons/Animations_Button_Project_7.png);
}
#project-design-faces
{
    background-image:url(../images/buttons/designs_button_project_1.png);
}
#project-design-ferro
{
    background-image:url(../images/buttons/designs_button_project_2.png);
}
#project-design-keyblade
{
    background-image:url(../images/buttons/designs_button_project_3.png);
}
#project-design-ambush
{
    background-image:url(../images/buttons/Designs_Button_Project_4.png);
}
#project-design-group
{
    background-image:url(../images/buttons/designs_button_project_5.png);
}
#project-design-scythe
{
    background-image:url(../images/buttons/Designs_Button_Project_6.png);
}
#project-design-vibe
{
    background-image:url(../images/buttons/Designs_Button_Project_7.png);
}
#project-design-concrete
{
    background-image:url(../images/buttons/Designs_Button_Project_8.png);
}
#project-design-charcoal
{
    background-image:url(../images/buttons/Designs_Button_Project_9.png);
}
/*bio section elements*/
.bioword
{
    grid-column-start: 3;
    grid-column-end:11;
    font-family:"Alegreya",serif;/*4.10.22 changing the p font to alegreya breaks the font rule in button links and no where else*/
    padding-top: 00.5rem;
    text-align: center;
    grid-row-start:2;
    grid-row-end:3;
    padding-bottom:0.5rem;
    text-shadow: 2px 2px 8px #281D54;
}
.biohead
{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end:2;
    padding-bottom:1rem;
    
    text-align:center;
}
#bio-story-1
{
    
    background-image:url(../images/bio-story/bio_bg_1.png);
    background-color:rgba(61, 71, 80,0.5);
    margin-bottom:3rem;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
#bio-story-2
{
    
    background-image:url(../images/bio-story/all-in-the-storytelling-wip.png);
    background-color:rgba(76, 61, 80, 0.5);
    margin-bottom:3rem;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
#bio-story-3
{
    
    background-image:url(../images/bio-story/Bio\ -\ thanks\ 2020wip.png);
    background-color:rgba(61, 80, 74, 0.5);
    margin-bottom:3rem;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

/* ---Footer Styles--- */

footer
{
    padding-top: 2rem;
}
footer p
{
    color:#D9A925;
}
footer ul
{
    
    display:flex;
    flex-direction:row;
    align-items:center;
    
}
footer ul li
{
    padding:1rem;
    list-style-type:none;
    font-family:"Roboto"
}
footer ul li a
{
    text-decoration:none;
}
footer ul li a:hover
{
    text-decoration:underline;
}

/* Media Queries */
@media screen and (max-width: 480px)
/*Small Smartphone screens*/
{   
    .navmenu
    {
        height:5rem;
        
    }

    footer
    {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 768px)
/*Large Smartphone/Small Tablet screens*/
{
    .navmenu
    {
        height:5rem;
    }

    footer
    {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px)
/*Large Tablet/Small Desktop screens*/
{
    h1
    {
        text-align:left;
        width:300px;
        margin:0;
    }
    .navmenu
    {
        height:8rem;
        justify-content:space-evenly;
    }
    
    header ul, .homebutton
    {
        display:block;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    /*4/2/22 assigning .homelink to be able to hide one button from the navigation when expanded and it won't go away*/
    button .homelink, #icon
    {
        display:none;
    }
    footer
    {
        display:flex;
        align-items:center;
        justify-content:space-between;
    }
    /*editing grid layout of the project pages*/
    #project-title
    {
        grid-column-start:3;
        grid-column-end:7;
    }
    #project-description
    {
        grid-column-start:3;
        grid-column-end:7;
    }
    #project-resource-title
    {
        grid-column-start:7;
        grid-column-end:11;
        grid-row-start:1;
    }
    #project-resource
    {
        grid-column-start:7;
        grid-column-end:11;
        grid-row-start:2;
        grid-row-end:3;
    }
    #project-tag-title
    {
        grid-row-start:3;
    }
    #project-tag
    {
        grid-row-start:4;
        grid-row-end:5;
    }
    #project-project-title
    {
        grid-row-start:5;
    }
    #project-project
    {
        grid-row-start:6;
        grid-row-end:7;
    }
}

@media screen and (min-width: 1280px)
/*Large Desktop screens*/
{
    
    
    .navmenu
    {
        width:100%;
        height:10rem;
    }
    header ul
    {
        width:90%;
        display:block;
        display:flex;
        justify-content:flex-end;
        align-items:center;
    }
    .homebutton
    {
        display:block;
    }
    /*4/2/22 assigning .homelink to be able to hide one button from the navigation when expanded and it won't go away*/
    button .homelink, #icon
    {
        display:none;
    }
    h1
    {
        text-align:left;
        width:300px;
        margin:0;
    }

    footer
    {
        width:95%;
        margin:auto;
        display:flex;
        align-items:center;
        justify-content:space-between;
    }
    /*editing grid layout of the project pages*/
    #project-title
    {
        grid-column-start:3;
        grid-column-end:7;
    }
    #project-description
    {
        grid-column-start:3;
        grid-column-end:7;
    }
    #project-resource-title
    {
        grid-column-start:7;
        grid-column-end:11;
        grid-row-start:1;
    }
    #project-resource
    {
        grid-column-start:7;
        grid-column-end:11;
        grid-row-start:2;
        grid-row-end:3;
    }
    #project-tag-title
    {
        grid-row-start:3;
    }
    #project-tag
    {
        grid-row-start:4;
        grid-row-end:5;
    }
    #project-project-title
    {
        grid-row-start:5;
    }
    #project-project
    {
        grid-row-start:6;
        grid-row-end:7;
    }
}
